<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
</div>

<h2>Book detail</h2>

<!-- ユーザーの投稿一覧 -->

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title：<%= book.shop_name %></p>
  <p>Opinion：<%= book.caption %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
  <p><%= link_to "Edit", edit_book_path(book.id) %></p>
  <p><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></p>
</div>
<% end %>